h1{
    text-align: center;
}

.dude1{
    margin-left: 70px;
    text-align: center; 
    box-shadow: 0 7px 7px;
    margin-top: 80px;
  padding: auto;
  font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.dude{
    font-size: 20px;
   text-align: center;
   margin-left: 70px;
   margin-top: 90px;
   margin-bottom: 80px;
    padding: auto;

    box-shadow: 0 7px 7px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}   